<form (ngSubmit)="buscar()" autocomplete="off">
       <div class="col">
              <button type="button" class="btn btn-primary">Nuevo</button>
       </div>
       
       <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Shared Key"
                     aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
       </div>

       <input type="text" name="termino" class="form-control" [(ngModel)]="termino" (input)="teclaPresionada()"
              [placeholder]="placeholder" />

       
</form>